<!doctype html>
<html lang="en">
  <head>
    <title>Lab 6</title>
  </head>

  <body>

    <h1>Hello, Apa Kabar?</h1>

    <form method="post" action="/tambah_form/">
      {% csrf_token %}
      {{ fillForm }}
      
      <button type="submit" name="action">Kirim</button>
      
    </form>

    <h2>Ini Kabar Para Pengunjung</h2>

    <section>
      {% for i in Form %}
        <p>{{ i.form }}</p>
      {% endfor %}
    </section>

    <form action="/hapus_form/">
      <button type="submit" name="action">Hapus</button>
    </form>

    <a href="{% url 'profil' %}" class=button>Profil</a>

  </body>
</html>
